# Project exclude paths
/.gradle/
/build/
/buildSrc/.gradle/
/buildSrc/build/
/buildSrc/build/classes/java/main/
/integration-tests/build/
/integration-tests/build/classes/java/test/
/spring-aop/build/
/spring-aop/build/classes/java/main/
/spring-aop/build/classes/java/test/
/spring-aop/build/classes/java/testFixtures/
/spring-aspects/build/
/spring-beans/build/
/spring-beans/build/classes/java/test/
/spring-beans/build/classes/java/testFixtures/
/spring-context/build/
/spring-context/build/classes/java/main/
/spring-context/build/classes/java/test/
/spring-context/build/classes/java/testFixtures/
/spring-context-indexer/build/
/spring-context-indexer/build/classes/java/main/
/spring-context-indexer/build/classes/java/test/
/spring-context-support/build/
/spring-context-support/build/classes/java/main/
/spring-context-support/build/classes/java/test/
/spring-context-support/build/classes/java/testFixtures/
/spring-core/build/
/spring-core/build/classes/java/main/
/spring-core/build/classes/java/test/
/spring-core/build/classes/java/testFixtures/
/spring-core/kotlin-coroutines/build/
/spring-expression/build/
/spring-expression/build/classes/java/main/
/spring-expression/build/classes/java/test/
/spring-instrument/build/
/spring-instrument/build/classes/java/main/
/spring-jcl/build/
/spring-jcl/build/classes/java/main/
/spring-jdbc/build/
/spring-jdbc/build/classes/java/main/
/spring-jdbc/build/classes/java/test/
/spring-jms/build/
/spring-jms/build/classes/java/main/
/spring-jms/build/classes/java/test/
/spring-messaging/build/
/spring-messaging/build/classes/java/main/
/spring-orm/build/
/spring-orm/build/classes/java/main/
/spring-orm/build/classes/java/test/
/spring-oxm/build/
/spring-oxm/build/classes/java/main/
/spring-oxm/build/classes/java/test/
/spring-test/build/
/spring-test/build/classes/java/main/
/spring-test/build/classes/java/test/
/spring-tx/build/
/spring-tx/build/classes/java/main/
/spring-tx/build/classes/java/testFixtures/
/spring-web/build/
/spring-web/build/classes/java/main/
/spring-web/build/classes/java/test/
/spring-web/build/classes/java/testFixtures/
/spring-webflux/build/
/spring-webflux/build/classes/java/main/
/spring-webflux/build/classes/java/test/
/spring-webmvc/build/
/spring-webmvc/build/classes/java/main/
/spring-webmvc/build/classes/java/test/
/spring-websocket/build/
/spring-websocket/build/classes/java/main/
/spring-websocket/build/classes/java/test/
# Project exclude paths
/spring-debug/build/